<div class="container p-5 mt-4 text-center">
  <h2><i class="fa-solid fa-square-pen"></i>&nbsp; &nbsp;UPDATE PRODUCTS </h2>
  </div>
  <div class="container ">
   <div class="row  ">
    
    
  
    
    <div class="col-lg-6 ">
     <h2 class="text-light mb-2 bg-warning p-5">{{product.name}}</h2>
 
 
 
     <form action="">
 <div class="mb-2">
   <input type="text" name="pid" [(ngModel)]="product.id" id="" placeholder="Id : " class="form-control">
 </div>
 
 <div class="mb-2">
   <input type="text" name="pname" [(ngModel)]="product.name" id="" placeholder="Name : " class="form-control">
 </div>
 
 <div class="mb-2">
   <input type="text" name="pmaterial" [(ngModel)]="product.material" id="" placeholder="Material :" class="form-control">
 </div>
 
 <div class="mb-2">
   <input type="text" name="pprice" [(ngModel)]="product.price" id="" placeholder="Price :" class="form-control">
 </div>
 
 <div class="mb-2">
   <input type="text" name="pimage" [(ngModel)]="product.photo" id="" placeholder="Image :" class="form-control">
 </div>
 
 <div class="mb-2">
   <input type="text" name="pvendor" [(ngModel)]="product.vendor" id="" placeholder="Vendor :" class="form-control">
 </div>
 
 <div class="mb-2">
   <input type="text" name="pype"[(ngModel)]="product.type" id="" placeholder="Type" class="form-control">
 </div>
 
 <div class="mb-2">
   <input type="text" name="pavailability" [(ngModel)]="product.availability" id="" placeholder="Availability :" class="form-control">
 </div>
 
 <div class="mb-2">
   <input type="text" name="prdescription" [(ngModel)]="product.description" id="" placeholder="Description :" class="form-control">
 </div>
 
 
 
 <div class="mb-2">
   <input type="button" (click)="updateProduct()" Name="" id="" placeholder="Availability :" class="btn btn-success" value="CREATE">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <a routerLink="/" class="btn btn-warning" >CLOSE</a>
 </div>
     </form>
   
   
    </div>
    <div class="col-lg-6">
     <img [src]="product.photo" class="w-75" alt="">
    </div>
   </div>
  </div>
 
 